<html>
<body>
      <p>Hello ,<br><br></p>
      <p>We need  <%= @contact.blood_group.name %> blood group on <%= @contact.when %></p>
      <p>Please contact below person</p>
      <p>Name: <%= @contact.name %></p>
      <p>Contact: <%= @contact.phone_number %></p>
      </body>
      </html>
