<div class="cd-fold-content single-page">
  <h2 class="pad-bot">Benefits of Donating Blood</h2>
  <p>
    Most people donate blood because they want to help others, and, indeed, donating blood a single time may help save the lives of up to three people. 
  </p>
  <h3 class="pad-bot">BALANCE IRON LEVELS IN YOUR BLOOD</h3>
  <p>
    Blood donation is one of the best ways to avoid the health risks associated with iron overload.
  </p>
  <h3 class="pad-bot">BETTER BLOOD FLOW</h3>
  <p>
    Frequent blood donations may help your blood to stream healthier, reducing viscosity, and feasibly helping to limit damage to the lining of your blood vessels, which should result in scarcer arterial blockages.
  </p>  
  <h3 class="pad-bot">UNCOVER POTENTIAL HEALTH PROBLEMS</h3>
  <p>Every blood donor gets a “mini physical” prior to donation to check blood pressure, hemoglobin, and temperature. This can sometimes shed light on issues you didn’t even know about.
  </p>
  <h4 class="pad-bot">HAPPY & PEACEFUL LIFE</h4>
  <p>
    People who donate blood for philanthropic reasons, live longer. The psychological health benefit you receive from knowing you’re helping others is just as helpful as the physical health benefit.
  </p>  
  <br>
  <div class="row">
    <div class="col-sm-4" style="height: 185px;">
      <div class="communities-card1">
        <img src="/assets/Raghavendra Joshi.jpg" class="image-style img-circle" />
        <div class="header">
        <h4 class="title">Raghavendra Joshi</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4" style="height: 185px;">
      <div class="communities-card1">
        <img src="/assets/Raghavendra K S.png" class="image-style img-circle" />
        <div class="header">
        <h4 class="title">Raghavendra K S</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4" style="height: 185px;">
      <div class="communities-card1">
        <img src="/assets/Suhas Ramesh.jpg" class="image-style img-circle" />
        <div class="header">
        <h4 class="title">Suhas Ramesh</h4>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="col-sm-4" style="height: 185px;">
      <div class="communities-card1">
        <img src="/assets/Manjunatha Dinka Ningappa.jpg" class="image-style img-circle" />
        <div class="header">
        <h4 class="title">Manjunatha Dinka Ningappa</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4" style="height: 185px;">
      <div class="communities-card1">
        <img src="/assets/Anjan Kumar H N.png" class="image-style img-circle" />
        <div class="header">
          <h4 class="title">Anjan Kumar H N</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4" style="height: 185px;">
      <div class="communities-card1">
        <img src="/assets/Ananth.jpg" class="image-style img-circle" />
        <div class="header">
          <h4 class="title">Ananth</h4>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="col-sm-4" style="height: 185px;">
      <div class="communities-card1">
        <img src="/assets/Arun Teja.jpg" class="image-style img-circle" />
        <div class="header">
        <h4 class="title">Arun Teja</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4" style="height: 185px;">
      <div class="communities-card1">
        <img src="/assets/Dhanya Narendra.jpg" class="image-style img-circle" />
        <div class="header">
        <h4 class="title">Dhanya Narendra</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-4" style="height: 185px;">
      <div class="communities-card1">
        <img src="/assets/Nikhil challagulla.jpg" class="image-style img-circle" />
        <div class="header">
        <h4 class="title">Nikhil challagulla</h4>
        </div>
      </div>
    </div>
  </div>
</div>