<div class="cd-fold-content single-page">
  <h2>Donor's Registration</h2>
  <form class="cd-form floating-labels">
    <fieldset>
      <legend>Donor's Info</legend>
      <div class="icon">
        <label class="my_label" for="cd-name">Name</label>
        <input class="user" type="text" name="cd-name" id="cd-name" required>
      </div>
      <div class="icon">
        <label class="my_label" for="cd-bloodgrp">Blood Group</label>
        <input class="budget" type="text" name="cd-number" id="cd-bloodgrp" required>
      </div>
      <div class="icon">
        <label class="my_label" for="cd-number">Phone Number</label>
        <input class="budget" type="text" name="cd-number" id="cd-number" required>
      </div>
      <div class="icon">
        <label class="my_label" for="cd-email">Email</label>
        <input class="email" type="email" name="cd-email" id="cd-email">
      </div>
      <div class="icon">
        <label class="my_label" for="cd-address1">Address Line1</label>
        <input class="message" type="text" name="cd-address1" id="cd-address1"></input>
      </div>
      <div class="icon">
        <label class="my_label" for="cd-address2">Address Line2</label>
        <input class="message" type="text" name="cd-address2" id="cd-address2"></input>
      </div>
      <div class="icon">
        <label class="my_label" for="cd-city">City</label>
        <input class="message" type="text" name="cd-city" id="cd-city"></input>
      </div>
      <div class="icon">
        <label class="my_label" for="cd-state">State</label>
        <input class="message" type="text" name="cd-state" id="cd-state"></input>
      </div>
      <div>
        <input type="submit" value="Send Message">
      </div>
    </fieldset>
  </form>
</div>
