<main class="cd-main">
    <header>
      <!-- <h1>Save Life</h1> -->
    </header>

    <ul class="cd-gallery">
      <li class="cd-item">
        <a href="/static/item-1">
          <div>
            <h2>Donors</h2>
            <p>Find a need and fill it</p>
            <b>View More</b>
          </div>
        </a>
      </li>

      <li class="cd-item">
        <a href="/static/item-2">
          <div>
            <h2>Need Blood?</h2>
            <p>We’ll Do The Work, You Save A Life.</p>
            <b>Search</b>
          </div>
        </a>
      </li>

      <li class="cd-item">
        <a class="dark-text" href="/static/item-3">
          <div>
            <h2>Blood Bank</h2>
            <p>Contact your nearest Blood Bank</p>
            <b>View More</b>
          </div>
        </a>
      </li>

      <li class="cd-item">
        <a href="/static/item-4">
          <div>
            <h2>About us</h2>
            <p>Check about the latest donors/donations</p>
            <b>View More</b>
          </div>
        </a>
      </li>
    </ul> <!-- .cd-gallery -->
  </main> <!-- .cd-main -->

  <div class="cd-folding-panel">

    <div class="fold-left"></div> <!-- this is the left fold -->

    <div class="fold-right"></div> <!-- this is the right fold -->

    <div class="cd-fold-content">
      <!-- content will be loaded using javascript -->
    </div>

    <a class="cd-close" href="#0"></a>
  </div> <!-- .cd-folding-panel -->
