	<div class="cd-fold-content single-page">
		<h2 class="pad-bot">Blood banks in mysore</h2>
		
		<h3 class="pad-bot">Rotary Mysore Chandrakala Hospital Blood Bank</h3>
		<p>
            License No.KTK/28C/210/2007
            Kalidasa Road, Jayalakshmipuram 
            Mysore – 570012<br />
            Tel: 0821 – 4008100 (24x7)<br />
			Website : <a href="www.mysorebloodbank.org">www.mysorebloodbank.org</a>
			
		</p>

		<h3 class="pad-bot">Jeeva Dhara Blood Bank</h3>
		
		<p>
            No 1475, 2nd Floor, 
            Mission Hospital Road, 
            Mandi Mohalla, Mysore - 570001
            Tel: +(91)-821-2444936, 3244936  +(91)-9379042563, 9844613407, 9845033351<br />
			Website :<a href="www.jeevadharabloodbank.com">www.jeevadharabloodbank.com</a>
			
		</p>
		<h3 class="pad-bot">Chandrakala Hospital Blood Bank</h3>
		<p>
			Chandrakala Hospital 
			Kalidasa Road, Jayalakshmipuram,
		    Mysore - 570012, Opposite To Kuvempu Trust Complex<br />
            Tel: +(91)-821-4008111, 4008112, 4008113, 4008114<br />
			Website :<a href="www.mysorebloodbank.org">www.mysorebloodbank.org</a>
		</p>
		
	</div>
</body>

