<div class="cd-fold-content single-page">
	<h2>Need Blood?</h2>
	<form class="cd-form floating-labels">
  		<fieldset>
	    	<legend>Please fill in your requirement</legend>
	    	<div class="icon">
	      		<label class="my_label" for="cd-name">Your Name</label>
	      		<input class="user" type="text" name="cd-name" id="cd-name" required>
	      	</div> 
	      	<div class="icon">
	        	<label class="my_label" for="cd-bloodgrp">Required Blood Group</label>
	      		<input class="budget" type="text" name="cd-number" id="cd-bloodgrp" required>
	      	</div> 
	      	<div class="icon">
	        	<label class="my_label" for="cd-number">Phone Number</label>
	      		<input class="budget" type="text" name="cd-number" id="cd-number" required>
	      	</div> 
	      	<div class="icon">
	        	<label class="my_label" for="cd-email">When?</label>
		    	<input class="email" type="email" name="cd-email" id="cd-email">
	      	</div>
	      	<div>
	        	<a href="/static/item-5" class='cd-btn'>Submit</a>
	      	</div>
  		</fieldset>
	</form>
</div>