<div class="cd-fold-content single-page">
	<h2 class="pad-bot">Benefits of Donating Blood</h2>
	<p>
		Most people donate blood because they want to help others, and, indeed, donating blood a single time may help save the lives of up to three people. 
	</p>
	<h3 class="pad-bot">BALANCE IRON LEVELS IN YOUR BLOOD</h3>
	<p>
		Blood donation is one of the best ways to avoid the health risks associated with iron overload.
		Human body has a limited capability to excrete iron, so it can effortlessly build up in and harm organs like your liver, heart, and pancreas; many adult men and postmenopausal women are at risk for health problems associated with surplus iron. Depleting those extra iron deposits by donating blood gives your vessels more room to operate.
	</p>
	<h3 class="pad-bot">BETTER BLOOD FLOW</h3>
	<p>
		Frequent blood donations may help your blood to stream healthier, reducing viscosity, and feasibly helping to limit damage to the lining of your blood vessels, which should result in scarcer arterial blockages. After donating blood, the body works to replenish the blood loss. This stimulates the production of new blood cells and in turn helps in maintaining good health.
	</p>	
	<h3 class="pad-bot">UNCOVER POTENTIAL HEALTH PROBLEMS</h3>
		Every blood donor gets a “mini physical” prior to donation to check blood pressure, hemoglobin, and temperature. This can sometimes shed light on issues you didn’t even know about.
	</p>
	<h4 class="pad-bot">HAPPY & PEACEFUL LIFE</h4>
	<p>
		People who donate blood for philanthropic reasons, live longer. The psychological health benefit you receive from knowing you’re helping others is just as helpful as the physical health benefit. When donating blood you know you’re making a difference. Which in turn gives you great deal of satisfaction and peace of mind.
	</p>	
</div>
