<div class="component">
<h3>Congratulations! you have found 7 donors with A+ve.</h3>
				<p>Please find the details of the Donors below</p><br />
				<table>
					<thead>
						<tr>
							<th>Name</th>
							<th>Blood group</th>
							<th>Mobile</th>
							<th>City</th>
							<th>Select All<br /><input type="checkbox" name ="chk1"/></th>
						</tr>
					</thead>
					<tbody>
						<tr><td class="user-name">gary coleman</td><td class="user-email">A+ve</td><td class="user-phone">(398)-332-5385</td><td class="user-mobile">Mysore</td><td><input type="checkbox" name ="chk1"/></td></tr>
						<tr><td class="user-name">rose parker</td><td class="user-email">A+ve</td><td class="user-phone">(293)-873-2247</td><td class="user-mobile">Mysore</td><td><input type="checkbox" name ="chk1"/></td></tr>
						<tr><td class="user-name">chloe nelson</td><td class="user-email">A+ve</td><td class="user-phone">(957)-213-3499</td><td class="user-mobile">Mysore</td><td><input type="checkbox" name ="chk1"/></td></tr>
						<tr><td class="user-name">eric bell</td><td class="user-email">A+ve</td><td class="user-phone">(897)-762-9782</td><td class="user-mobile">Mysore</td><td><input type="checkbox" name ="chk1"/></td></tr>
						<tr><td class="user-name">douglas hayes</td><td class="user-email">A+ve</td><td class="user-phone">(231)-391-6269</td><td class="user-mobile">Mysore</td><td><input type="checkbox" name ="chk1"/></td></tr>
						<tr><td class="user-name">cameron brown</td><td class="user-email">A+ve</td><td class="user-phone">(204)-488-5204</td><td class="user-mobile">Mysore</td><td><input type="checkbox" name ="chk1"/></td></tr>
						<tr><td class="user-name">gary coleman</td><td class="user-email">A+ve</td><td class="user-phone">(398)-332-5385</td><td class="user-mobile">Mysore</td><td><input type="checkbox" name ="chk1"/></td></tr>
						<tr><td class="user-name">rose parker</td><td class="user-email">A+ve</td><td class="user-phone">(293)-873-2247</td><td class="user-mobile">Mysore</td><td><input type="checkbox" name ="chk1"/></td></tr>
						<tr><td class="user-name">chloe nelson</td><td class="user-email">A+ve</td><td class="user-phone">(957)-213-3499</td><td class="user-mobile">Mysore</td><td><input type="checkbox" name ="chk1"/></td></tr>
						<tr><td class="user-name">eric bell</td><td class="user-email">A+ve</td><td class="user-phone">(897)-762-9782</td><td class="user-mobile">Mysore</td><td><input type="checkbox" name ="chk1"/></td></tr>
						<tr><td class="user-name">douglas hayes</td><td class="user-email">A+ve</td><td class="user-phone">(231)-391-6269</td><td class="user-mobile">Mysore</td><td><input type="checkbox" name ="chk1"/></td></tr>
						<tr><td class="user-name">cameron brown</td><td class="user-email">A+ve</td><td class="user-phone">(204)-488-5204</td><td class="user-mobile">Mysore</td><td><input type="checkbox" name ="chk1"/></td></tr>
						
					</tbody>
				</table>
				<br />
				<a href="/static/item-6" class="cd-btn">Send Email</a>
	</div>