<div class="modal-dialog sign-up-modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close modal-close-btn" data-dismiss="modal">
                            <span aria-hidden="true" class="icons-close-with-circle"></span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title"><span class="icons-modal-logo"> </span></h4>
                    </div>
                    <div class="modal-body text-center">
                        <div class="getstarted"> Get Started</div>
                        <div class="row">
                            <div class="col-sm-3"> </div>
                            <div class="col-sm-6 caption-text">Lorem ipsum is simply dummy text of the printing and type setting industry </div>
                            <div class="col-sm-3"> </div>
                        </div>
                        <div class="row social-icons-row">
                            <div class="col-sm-2 social-sign">
                                <div><a href="/auth/facebook"  class="icons-social-facebook"> </a> </div>
                                <div  class="social-names"> <a href="/auth/facebook"  class="social-names">facebook </a></div>
                            </div>
                            <div class="col-sm-2 social-sign">
                                <div><a href="/auth/google_oauth2"  class="icons-social-gplus"> </a> </div>
                                <div class="social-names"> <a href="/auth/google_oauth2" class="social-names"> google</a></div>
                            </div>
                            <div class="col-sm-2 social-sign">
                                <div><a href="/auth/twitter"  class="icons-social-twitter"> </a> </div>
                                <div class="social-names"><a href="/auth/twitter" class="social-names">twitter </a></div>
                            </div>
                            <div class="col-sm-2 social-sign">
                                <div><a href="/auth/linkedin"  class="icons-social-linkedin"> </a> </div>
                                <div class="social-names"><a href="/auth/linkedin" class="social-names">linkedin </a></div>
                            </div>
                             <div class="col-sm-2 social-sign">
                                <div><a href="/auth/github"> <img src="/assets/github.png" alt="image" class="social-github" /></a> </div>
                                <div class="social-names"><a href="/auth/github" class="social-names">github </a></div>
                            </div>
                        </div>
                        <div class="signingup">By signing up, you agree to our <a href="">Terms of Service </a> </div>
                    </div>
                </div>
            </div>