<div class="component">
  <h3>Help the following people by donating your Blood</h3>
  <p>Please find the details of the Recipient below</p><br />
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Blood group</th>
        <th>Mobile</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
      <tr><td class="user-name">gary coleman</td><td class="user-email">A+ve</td><td class="user-phone">(398)-332-5385</td><td class="user-mobile">Mysore</td></tr>
      <tr><td class="user-name">rose parker</td><td class="user-email">A+ve</td><td class="user-phone">(293)-873-2247</td><td class="user-mobile">Mysore</td></tr>
      <tr><td class="user-name">chloe nelson</td><td class="user-email">A+ve</td><td class="user-phone">(957)-213-3499</td><td class="user-mobile">Mysore</td></tr>
      <tr><td class="user-name">eric bell</td><td class="user-email">A+ve</td><td class="user-phone">(897)-762-9782</td><td class="user-mobile">Mysore</td></tr>
      <tr><td class="user-name">douglas hayes</td><td class="user-email">A+ve</td><td class="user-phone">(231)-391-6269</td><td class="user-mobile">Mysore</td></tr>
      <tr><td class="user-name">cameron brown</td><td class="user-email">A+ve</td><td class="user-phone">(204)-488-5204</td><td class="user-mobile">Mysore</td></tr>
      <tr><td class="user-name">gary coleman</td><td class="user-email">A+ve</td><td class="user-phone">(398)-332-5385</td><td class="user-mobile">Mysore</td></tr>
      <tr><td class="user-name">rose parker</td><td class="user-email">A+ve</td><td class="user-phone">(293)-873-2247</td><td class="user-mobile">Mysore</td></tr>
      <tr><td class="user-name">chloe nelson</td><td class="user-email">A+ve</td><td class="user-phone">(957)-213-3499</td><td class="user-mobile">Mysore</td></tr>
      <tr><td class="user-name">eric bell</td><td class="user-email">A+ve</td><td class="user-phone">(897)-762-9782</td><td class="user-mobile">Mysore</td></tr>
      <tr><td class="user-name">douglas hayes</td><td class="user-email">A+ve</td><td class="user-phone">(231)-391-6269</td><td class="user-mobile">Mysore</td></tr>
      <tr><td class="user-name">cameron brown</td><td class="user-email">A+ve</td><td class="user-phone">(204)-488-5204</td><td class="user-mobile">Mysore</td></tr>
      
    </tbody>
  </table>
  <br />
  <a href="/static/item-6" class="cd-btn">Send Email</a>
  <%= link_to "Sign-Out", root_path %>
</div>