<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Vollkorn|Open+Sans:400,700' rel='stylesheet' type='text/css'>

	<%= stylesheet_link_tag 'application' %>
  	
	<title>Save Life</title>
</head>
<body>
	<%= yield %>
<script src="/assets/jquery-2.1.1.js"></script>
<script src="/assets/main.js"></script> <!-- Resource jQuery -->
</body>
</html>